:root {
  --primary-color: rgb(46, 113, 175);
  --secondary-color: rgb(132, 166, 198);
  --tertiary-color: rgb(197, 205, 208);
  --quaternary-color: rgb(222, 230, 235);
  --accent-color: rgb(255, 190, 130);
  --chart-color-1: var(--primary-color); /* Reusing primary color */
  --chart-color-2: var(--secondary-color); /* Reusing secondary color */
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 2% 5%;
}

ul {
  padding: 0;
  list-style: none;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  max-width: 300px;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 100%;
  position: absolute;
  z-index: 2;
  align-self: flex-start;
  margin: 0;
  top: calc(100% + 5px);
  left: 0;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  border-radius: 4px;
}

.suggestions > li {
  padding: 8px 12px;
  cursor: pointer;
  background-color: var(--tertiary-color);
}

.suggestions > li:hover {
  background-color: var(--quaternary-color);
}

input[type="text"],
input[type="number"] {
  padding: 8px 12px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  height: 38px;
  width: 100%;
  max-width: 250px;
}

.event {
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--tertiary-color);
}

.details-btn {
  padding: 8px 12px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-style: italic;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  transition: background-color 0.3s ease;
}

.details-btn:hover {
  background-color: #ffae67; /* Updated hover color */
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.numberOfEvents {
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}

.button-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.Alert {
  position: fixed;
  top: 20px;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.charts-container {
  display: grid;
  gap: 20px;
}

.btn-text {
  color: #fff;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .CitySearch {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .CitySearch input[type="text"],
  .CitySearch input[type="number"] {
    margin-right: 10px;
  }

  .button-wrapper {
    grid-template-columns: 1fr;
  }

  .charts-container {
    grid-template-columns: 1fr 1fr;
  }
}
